Package: madeb
Version: 240822.1004
Section: base
Priority: optional
Installed-Size: 352
Architecture: all
Depends: bash
Maintainer: Christian Pottier <christian.pottier@univ-angers.fr>
Description: Ma Debian
